header{

}

.nav__btn,
.menu__btn{

	margin-right: 16px;

}
.btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: none;
	background: #FF3E79;
	text-align: center;
	display: inline-block;
	// position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	// margin-right: 16px;
	cursor: pointer;
	position: relative;
}
.nav__btn--last{
	margin-left: auto;
	margin-right: 0;
}
.nav__img{
	// display: inline-block;
	// vertical-align: middle;
	// position: absolute;
	// left: 0;
	// top: 0;
	// transform:translate(50%,50%)
}
.nav{
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	flex-wrap:wrap;
}
.nav__panel{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	flex-wrap:wrap;
}
.nav__line{
	width: 2px;
	height: 32px;
	background: #EAEAEA;
	border-radius: 1px;
	margin-left: auto;
}
.nav__menu{
	top: 0;
	left: 0;
	position: absolute;
	background-color: white;
	width: 100%;
}
.menu__top{
	padding: 16px;
	display: flex;
	align-items: center;
	margin-bottom: 10px;

}

.menu__btn{
	margin-right: 17px;
}
.menu__btn--last{
	margin-left: auto;
	margin-right: 0;
}
.menu__list{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu__link{
	display: block;
	padding: 0 16px;
	text-decoration: none;
	color: #1B1C21;
	line-height: 24px;
	margin-bottom: 24px;
	position: relative;
}
.menu__link.active::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 4px;
	height: 100%;
	background-color: #41F6D7;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.menu__link.active{
	color: #7E7E82;

}
.menu__search{
	margin-left: auto;
}


.menu__links{
	display: flex;
	padding-left: 16px;
	margin-bottom: 16px;
}
.nav__mail,
.nav__phone{
	display: block;
	padding-left: 16px;
	color: #1B1C21;
	text-decoration: none;
	margin-bottom: 16px;
	
}
.nav__phone{
	font-size: 24px;
	font-weight: bold;
	

}
.menu__langs{
	padding-left: 16px;
}
.menu__lang{
	background-color: transparent;
	border: none;
	padding: 0;
	color: #1B1C21;
	font-size: 16px;

}
.menu__lang.active{
	color: #7E7E82;
}

.nav__links{
	display: none;
}
.nav__line--first{
	display: none;
}
.menu__langs{
	margin-bottom: 32px;
}
.nav__links{
	display: none;
}
.menu{
	position: absolute;
	max-width: 320px;
	z-index: 20;
	background-color: #fff;
	height: 100vh;
	min-height: 700px;
	display: flex;
	flex-direction:column;
	box-shadow: 16px 0px 52px rgba(14, 24, 80, 1), -2px 0px 4px rgba(69, 79, 126, 1);
}

